.msimg {
    border: 2px solid black;
    display:inline-block;
    text-align:center;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius:8px;
    margin-left: 15px;
    margin-top: 15vh;
    width: 100px;
}
body {
    font-family: monospace;
}

#microsoys {
    display:block;
    text-align: center;
}

.msimg input {
    border: 2px solid yellow;
    padding: 10px;
    border-radius: 10px;
    background-color: yellow;
    font-family: monospace;
}
ul {
    display:inline-flex;
    list-style-type:none; 
}